'''
:since: 03/08/2015
:author: oblivion
'''
from socket import getfqdn, gethostname

# List of allowed host.
ALLOWED = [
    {% for allowed in serverhud_allowed %}
        "{{ allowed }}",
    {% endfor %}
]

# Dictionary of hosts for the panels on the web page.
HOSTS = {
    {% for service, host in serverhud_client_host.items() %}
        "{{ service }}": "{{ host }}",
    {% endfor %}
}

# Where to put logs
CLIENT_LOG_FILE = '{{ serverhud_log_path }}/serverhud-client.log'

# Debug toggle
DEBUG = {{ serverhud_debug }}
